body {
  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  margin: 1px;
}

.authorName {
  vertical-align: middle;
  color: #03A9F4;
  font-weight: 800;
  border-radius: 3px;
  -webkit-text-stroke: 0.25px darkgray;
}

.badgeServiceIcon,
.badgeLeft,
.badgeRight {
  vertical-align: middle;
  padding-right: 2px;
  height: 20px;
  width: 20px;
}

.text {
  vertical-align: middle;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 0.5px darkgray;
}

.hyperlinkContent {
  vertical-align: middle;
  font-weight: 600;
  color: #3EA6FF;
  -webkit-text-stroke: 0.5px darkgray;
}

.imageContent {
  vertical-align: middle;
  height: 24px;
}

.errorText {
  padding: 4px;
  vertical-align: middle;
  border-radius: 2px;
  -webkit-text-stroke: 1px black;
  font-size: x-large;
  color: red;
  font-weight: 900;
}

.serviceIndicator {
  margin-right: 8px;
}