body {
  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1F26;
  margin: 1px;
  overflow-wrap: anywhere;
  overflow: hidden;
}

body:hover {
  overflow: auto;
}

.message {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.authorName {
  vertical-align: middle;
  color: #03A9F4;
  font-weight: 800;
  border-radius: 3px;
  margin-right: 1px;

  text-shadow: 1px 1px 0 rgb(0, 0, 0);
}

.authorNameCustomBackgroundColor {
  text-shadow: none;
  font-weight: 600;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 3px;
}

.tag {
  vertical-align: middle;
  border-radius: 3px;
  margin-left: 0px;
  margin-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: small;
  font-weight: 600;
}

.badgeServiceIcon,
.badgeLeft,
.badgeRight {
  vertical-align: middle;
  padding-right: 2px;
  height: 20px;
  width: 20px;
}

.text,
.authorMessageContentSeparator,
.htmlContent {
  vertical-align: middle;
  font-weight: 600;
  color: white;

  text-shadow:
    1px 1px 0 rgb(50, 50, 50),
    -1px 1px 0 rgb(50, 50, 50),
    -1px -1px 0 rgb(50, 50, 50),
    1px -1px 0 rgb(50, 50, 50);
}

.authorMessageContentSeparator::before {
  content: ": ";
}

.hyperlinkContent {
  vertical-align: middle;
  font-weight: 600;
  color: #007bff;

  text-shadow: 1px 1px 0 rgb(0, 0, 0);
}

.imageContent {
  vertical-align: middle;
  height: 32px;
}

.errorText {
  padding: 4px;
  vertical-align: middle;
  border-radius: 2px;
  -webkit-text-stroke: 1px black;
  font-size: x-large;
  color: red;
  font-weight: 900;
}

.serviceIndicator {
  margin-right: 8px;
}

.hiddenFadeOut {
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
