body {
  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(224, 224, 224);
  margin: 1px;
}

.authorName {
  vertical-align: middle;
  color: #03A9F4;
  font-weight: 800;
  border-radius: 3px;

  text-shadow:
    1px 1px 0 rgb(50, 50, 50),
    -1px 1px 0 rgb(50, 50, 50),
    -1px -1px 0 rgb(50, 50, 50),
    1px -1px 0 rgb(50, 50, 50);
}

.badgeServiceIcon,
.badgeLeft,
.badgeRight {
  vertical-align: middle;
  padding-right: 2px;
  height: 20px;
  width: 20px;
}

.text {
  vertical-align: middle;
  font-weight: 600;
  color: white;

  text-shadow:
    1px 1px 0 rgb(50, 50, 50),
    -1px 1px 0 rgb(50, 50, 50),
    -1px -1px 0 rgb(50, 50, 50),
    1px -1px 0 rgb(50, 50, 50);
}

.hyperlinkContent {
  vertical-align: middle;
  font-weight: 600;
  color: #3EA6FF;

  text-shadow:
  1px 1px 0 black,
  -1px 1px 0 black,
  -1px -1px 0 black,
  1px -1px 0 black;
}

.imageContent {
  vertical-align: middle;
  height: 24px;
}

.errorText {
  padding: 4px;
  vertical-align: middle;
  border-radius: 2px;
  -webkit-text-stroke: 1px black;
  font-size: x-large;
  color: red;
  font-weight: 900;
}

.serviceIndicator {
  margin-right: 8px;
}