body {  
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.message {
    margin: 2px;
    padding: 2px;
    vertical-align: middle;
    border-radius: 2px;
    -webkit-text-stroke: 1px black;
    font-size: medium;
    color: white;
    font-weight: 600;
}

.authorName {
    margin-right: 4px;
    margin-left: 4px;
    vertical-align: middle;
    font-weight: 900;
    color: #03A9F4;
    border-radius: 3px;
}

.messageAuthorLink {
    text-decoration: none;
}

.textContent, .hyperlinkContent {
    vertical-align: middle;
}

.imageContent {
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
    height: 20px;
}

.avatar {
    margin-left: 2px;
    height: 30px;
    vertical-align: middle;
    border-radius: 50%;
}

.badge {
    height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: middle;
}

.text {
    padding: 4px;
    vertical-align: middle;
    border-radius: 2px;
    -webkit-text-stroke: 1px black;
    font-size: medium;
    color: white;
    font-weight: 900;
}
